// bower:scss
// endbower

body {
  padding: 0;
  &.gradingModal {
    md-dialog {
      max-width: 98%;
      max-height: 97%;
      width: 100%;
      height: 100%;
    }
  }
  .caption-input {
    margin-bottom: 0;
  }
  .md-headline {
    margin-bottom: 0;
  }
}

table {
  border-collapse: collapse;
  margin: 20px 25px;
}

tr {
  background: #F4EFEA;
}

tr.altrow {
  background: #F7F3E9;
}

th, td {
  text-align: left;
  border-width: 1px;
  border-style: solid;
}

th {
  color: #273838;
  background: #E8ECED; /*#9EBCBC;*/
  padding: .8em 1em;
  border-color: #94B3B6 #8AACAF #689195 #8AACAF;
}

td {
  border-color: #E7DED3;
  padding: .7em 1em;
}

.menu-nav {
  height: 100%;
}

div.dot {
  dislpay: block;
  border-radius: 100%;
  background: black;
  position: absolute;
  opacity: 1.0;
  pointer-events: none;
}

input[type=color] {
  position: relative;
  top: 25px;
  left: 5px;
}

md-input-container {
  margin-bottom: 0;
}

.pdf-wrap {
  padding: 10px;
}

.md-button {
  min-width: 0px;
  padding: 0 10px;
}
